<h1>Welcome!</h1>
<h2>Instructions: </h2>
<h4>Choose a word and a phrase, and with the power of friendship it will magically return back the number of whole matches of words within that phrase.</h4>
<form action="/results" method="post">
<label for="word">Word: </label>
<input type="text" name="word">
<br><br>
<label for="longString">Phrase: </label>
<input type="text" name="longString">
<br><br>
<button type="submit" name="button">Click Here</button>
</form>
